@(message: String)

@main("Tweet downloader") {
    

@*
    <a class="btn success" id="desc_list" href="@routes.Application.jobDescriptionList()">List job descriptions</a>
<br>
    <a class="btn success" id="add"
    href="@routes.Application.createJobDescription()">Add a
    new job description</a>
<br>

*@
<h2>Gerichte zoekacties</h2>
   <a class="btn success" href="@routes.Application.selectConfig()">Nieuwe
   zoekactie</a>
<br>
<br>
    
   <a class="btn success" href="@routes.Application.showJobs()">Toon resultaten </a>

<h2>Continue zoekactie</h2>
   <a class="btn success" href="@routes.Streams.editTerms()">Stel zoektermen in</a>
<br>
<br>
   <a class="btn success" href="@routes.Streams.download()">Download resultaten</a>
}
