@(jobs: List[Job])

@main("Resultaten") {
    <h1>Resultaten</h1>
    <table> 
    <tr>
    <th>id</th>
    <th>datum</th>
    <th>zoekvragen</th>
    <th>resultaten</th>
    <th>zip</th>
    <th>configuratie</th>
    </tr>
	@for(job <- jobs) {
          <tr>
          <td>
                @helper.form(action = routes.Application.deleteJob(job.id)) {
                    <input type="submit" value="Wis" class="btn danger">
                }
          </td>
	    <td>@job.id</td>
          <td>@if(job.datum!=null) {
                        @job.datum.format("dd/MM/yyyy")
                  } else { &mdash; } </td>
            <td>@for( (query,i) <- job.getQueries().zipWithIndex ) {
                   @query 
                   @if(i != job.getQueries.size-1) { , }
                 }</td>
            <td>@for( xls <- job.getResults() ) {
                   <a href="@routes.Application.downloadExcel(job.id,xls.getFileName().toString())">
                      @xls.getFileName().toString()</a>
                 }</td>
             <td>
               <a href="@routes.Application.downloadZip(job.id)">zipfile</a>
             </td>
             <td>
               <a href="@routes.Application.downloadConfig(job.id)">config.ini</a>
             </td>

	      </tr>
	} 
    </table>
   <a class="btn success" href="@routes.Application.selectConfig()">Nieuwe
   zoekactie</a>
}
